<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title %></title>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Source+Serif+Pro:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="login.css">
    <link rel="stylesheet" href="card.css">
</head>
<body>
    <nav class="top-bar">
        <a href="/">Home</a>
        <% if(isLogined) { %> 
            <a href="/logout" id="logout">Logout</a>
        <% } else {%>
            <a href="/login">Login</a>
        <% } %> 
         
    </nav>