<%- include('partials/header') -%> 

<div class="container login">

    <div class="login-area">
        <h2>Login</h2>
        <hr>
        <form id="login-form" action="" method="POST">
            <label>Email</label><br>
            <input type="email" name="email_login"><br>
            <label>Password</label><br>
            <input type="password" name="password_login"><br>
            <input id="login-btn" type="submit" value="Login">
        </form>
        <div class="msg-login"><%=msg_login %></div>
    </div>
    <div class="register-area">
        <h2>Register</h2>
        <hr>
        <form id="register-form" action="/register" method="POST">
            <label>Username</label><br>
            <input type="text" name="usernameReg"><br>
            <label for="email">Email</label><br>
            <input type="email" name="emailReg"><br>
            <label>Password</label><br>
            <input type="password" name="passwordReg"><br>
            <label>Confirm Password</label><br>
            <input type="password" name="cfpasswordReg"><br>
            <input id="register-btn" type="submit" value="Register">
        </form>
        <div class="msg-reg"><%=msg_reg %></div>
    </div>
</div>

